body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 150px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.forgot {
    margin-top: 10px;
    text-align: center;
}

.forgot a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
}

.forgot a:hover {
    color: #4caf50;
}
