/* style2.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon a.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-icon a.btn:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.nav-icon .bx-menu {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.nav-icon li {
    list-style: none;
    margin-left: 20px;
}

.nav-icon a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-icon a:hover {
    color: #f0e68c;
}

h1 {
    margin-top: 50px;
    font-size: 32px;
    color: #333;
    border-bottom: 2px solid #28a745;
    display: inline-block;
    padding-bottom: 10px;
}

form {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form select:focus,
form textarea:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.2);
}

form button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button[type="submit"]:hover {
    background-color: #218838;
    transform: translateY(-2px);
}
