*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;

}

body{
    background-image: url(ASET/222.jpg);
    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%; 
    background-color: #ffe3bb;
    height: 80px;
}
.logo img{
    max-width: 140px;
    height: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    padding: 10px 20px;
    color: #292929;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #CC3333;    
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon .btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #CC3333;
    padding: 10px 30px;
    background-color: #CC3333;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 15px;
    transition: all .42s ease;
}
.nav-icon .btn:hover{
    transform: scale(1.1);
}
#menu-icon{
    font-size: 35px;
    color: #292929;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 60px 12%;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url(ASET/222.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.home-img{
    height: 500px;
    width: 583px;
    bottom: 40%;
}
.home-img img{
    max-width: 500%;
    width: 60%;
    height: auto;
    border-radius: 30px;
    margin-top: 90px;
    margin-left: 60px;
}
.home-text h4{
    color: #CC3333;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: 'Lobster', cursive;
}
.home-text h1{
    font-size: 50px;
    color: #292929;
    font-weight: 700;
    line-height: 1.2;
    margin: 23px 0;
}
.home-text h1 span{
    color: #CC3333;
    text-decoration: underline;
}
.home-text p{
    color: #666;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 40px;
}
.main-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.main-btn .btn1{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    background-color: #CC3333;
    padding: 12px 30px;
    transition: all .42s ease;
    border-radius: 50px;
}
.main-btn .btn1:hover{
    background-color: #292929;
}
.btn2{
    font-size: 15px;
    font-weight: 500;
    color: #292929;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.btn2 span i{
    height: 50px;
    width: 50px;
    background: #CC3333;
    color: #fff;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .42s ease;
}
.btn2 span i:hover{
    transform: translateY(-5px);
}

/* Responsive design */
@media(max-width:945px){
    header{
        padding: 20px 3%;
        transition: .3s;
    }
}
@media (max-width:1140px){
    .home{
        grid-template-columns: 1fr;
        height: 100%;
    }
    header.sticky{
        background: #fff;
        padding: 10px 3%;
        box-shadow: 0 0 10px rgb(0 0 0 / 10%); 
    }
    .home-text{
        padding-top: 50px;
        text-align: center;
    }
    section{
        padding: 90px 3%;
    }
    .home-img img{
        width: 100%;
        max-width: 600px;
    }
    .home-img{
        text-align: center;
    }
}
#home-img3 {
    width: 350px;
    border-radius: 10px;
 }
 #home-img5 {
    width: 350px;
    border-radius: 10px;
 }
 #home-img6 {
    width: 350px;
    border-radius: 10px;
 }
 #home-img7 {
    width: 350px;
    border-radius: 10px;
 }